mixin display_header_site(selected_option)
	ul.header 
		each href, name in option_dict 
			if name == selected_option 
				li.header.marked
					a(href=href)= name
			else 
				li.header
					a(href=href)= name 


mixin display_header_page(img_src, text)
	div.header-page
			img.header-page(src=img_src)
			div
				span.header-page-text=text


mixin display_gallery(img_src_list, is_href)
	each img_src, name in img_src_list 
		div.gallery-box
			img.gallery(src=img_src)
			div
				span.gallery-text 
					if name == '🇷🇺 Адмирал Кузнецов 🇷🇺'
						a.not-bold(href='kuznetsov.html')=name
					else 
						a.not-bold(href='#')=name


mixin display_big_gallery_block(head, img_src, list)
	div.gallery-box#big
		img.gallery(src=img_src)
		div
			span.gallery-text#big 
				a#big=head
	ul 
		each string in list 
			li=string 


mixin display_details()
	details 
		summary Настройки таблицы
		form
			div.with-scroll
				table(cellpadding=7)
					tr 
						th(colspan=2) Фильтры таблицы
						th(colspan=2) Сортировка таблицы 
						th(colspan=2) Настройки графика
					tr 
						td Название
						td
							input(type="text", name="ship_name")
						td В 1-ю очередь
						td 
							select(name="first_sort_par")
								option сортировать по
								option Название
								option Количество
								option Тип
								option Длина, м
								option Водоизмещение, т
								option На службе кораблей, ед.
								option В ремонте кораблей, ед.
								option Строится кораблей, ед.
								option Затонуло кораблей, ед.
								option Списано кораблей, ед.
								option Кораблей-музеев, ед.
								option Принадлежность
						td Ось X: 
						td 
							select(name='axis_x')
								option -
								option Тип
								option Принадлежность
					tr 
						td Тип
						td 
							input(type='text', name='type_name')
						td Во 2-ю очередь
						td 
							select(name="second_sort_par")
								option сортировать по
								option Название
								option Количество
								option Тип
								option Длина, м
								option Водоизмещение, т
								option На службе кораблей, ед.
								option В ремонте кораблей, ед.
								option Строится кораблей, ед.
								option Затонуло кораблей, ед.
								option Списано кораблей, ед.
								option Кораблей-музеев, ед.
								option Принадлежность
						td Ось Y 
						td 
							select(name='axis_y')
								option Общее количество
								option Макс. длина, м
								option Макс. водоизмещение, т
								option На службе кораблей, ед.
								option В ремонте кораблей, ед.
								option Строится кораблей, ед.
								option Затонуло кораблей, ед.
								option Списано кораблей, ед.
								option Кораблей-музеев, ед.
					tr 
						td Принадл.
						td 
							input(type='text', name='operator_name')
						td Порядок
						td 
							select(name='sort_order')
								option Прямой
								option Обратный
					tr
						td(rowspan=2) Длина
						td 
							input(type='number', name='min_length', placeholder='мин.значение, м', min='100', max='400')
					tr 
						td 
							input(type='number', name='max_length', placeholder='макс.значение, м', min='100', max='400')
					tr
						td(rowspan=2) Водоизм.
						td 
							input(type='number', name='min_displacement', placeholder='мин.значение, т', min='10000', max='200000')
					tr 
						td 
							input(type='number', name='max_displacement', placeholder='макс.значение, т', min='10000', max='200000')
					tr
						td(colspan=2)
							input(type='submit', name='submit_table_options', value='Фильтровать таблицу')
						td(colspan=2)
							input(type='submit', name='submit_table_sort', value='Сортировать таблицу')
						td(colspan=2)
							input(type='submit', name='submit_graph_option', value='Построить график')

mixin display_table(data)
	table.big(cellpadding=7)
		tr.head
			th Название
			th Количество
			th Тип
			th Длина, м
			th Водоизмещение, т
			th На службе кораблей, ед.
			th В ремонте кораблей, ед.
			th Строится кораблей, ед.
			th Затонуло кораблей, ед.
			th Списано кораблей, ед.
			th Кораблей-музеев, ед.
			th Принадлежность
		each record in data 
			tr.bicolor
				each element in record 
					td=element
